<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-12Z84M1MF2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-12Z84M1MF2');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8937091141643753"
    crossorigin="anonymous"></script>

    <title>Wiki3enwan</title>
</head>

<body>

    <div class="text-center shadow-sm p-1 navcontainer">
        <a class="navbrand" href="/">ويكي عناوين</a>
        <ul class="navlist">
            <a href="/signup">حساب جديد</a>
            <a href="/accounts/login">تسجيل الدخول</a>
            <a href="/accounts/login">تسجيل الخروج</a>
        </ul>
    </div>
    {% block content %}
    {% endblock content %}

</body>

</html>